.widget .widget-head,
.btn-primary,
.navbar.main .topnav > li .dropdown-menu li > a:hover,
.navbar.main .topnav > li .dropdown-menu .active > a,
.navbar.main .topnav > li .dropdown-menu .active > a:hover,
#flotTip,
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover,
.filter-bar div.lbl,
.widget.widget-2.primary .widget-head,
.widget .widget-body.list.list-2 ul li.active a i:before,
.label-important,
.table-primary thead th,
.pagination ul > .active > a,
.pagination ul > .active > span,
.gallery ul li .thumb,
.widget-activity ul.filters li.glyphicons.active i,
#menu > ul li.active:after,
#menu .slim-scroll > ul li.active:after,
.ui-slider-wrap .slider-primary .ui-slider-range,
.accordion-heading .accordion-toggle,
.ui-widget-header,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.fc-event-skin,
#external-events li,
.notyfy_wrapper.notyfy_primary,
.bwizard-steps li.active,
.progress.progress-primary .bar,
.pagination ul > li > a:hover,
.widget.widget-wizard-pills > .widget-head ul li.primary a,
.social-large a.active,
.social-large a:hover {
  background-color: #ba5d32;
}
a,
p a,
.breadcrumb .glyphicons i:before,
.widget .widget-body.list ul li .count,
.breadcrumb .glyphicons i:before,
.widget-stats .txt strong,
#menu > ul li.glyphicons a i:before,
#menu .slim-scroll > ul li.glyphicons a i:before,
#menu > ul li a.glyphicons i:before,
#menu .slim-scroll > ul li a.glyphicons i:before,
.navbar.main .topnav > li > a.glyphicons.logout i:before,
.navbar.main .topnav > li .notif li > a.glyphicons.logout i:before,
.widget-activity ul.activities li.highlight .activity-icon i:before,
.glyphicons.single i:before,
.glyphicons.single,
.table-primary tbody td.important,
.widget.widget-3 .widget-body.large.cancellations span span:first-child,
.text-primary,
.table-projects .stats span.count,
#landing_1 .banner .banner-wrapper.banner-1 h3,
#landing_1 .banner .banner-wrapper.banner-1 p a,
#landing_1 .banner-1 .carousel-caption a,
div.glyphicons.glyphicon-primary i:before {
  color: #ba5d32;
}
.col.main-left ul li.active,
.widget .widget-head,
.btn-primary,
.ui-slider-wrap .slider-primary .ui-slider-handle,
#flotTip,
.widget.widget-2.primary .widget-head,
.widget .widget-body.list.list-2 ul li.active a i:before,
.table-primary thead th,
.pagination ul > .active > a,
.pagination ul > .active > span,
.widget.widget-4 .widget-head .heading,
.ui-widget-header,
.fc-event-skin,
.pagination ul > li > a:hover {
  border-color: #ba5d32;
}
.table-primary tbody td {
  background-color: #fbf3f0;
}
.table-primary tbody tr.selected td,
.table-primary tbody tr.selectable:hover td {
  background-color: #f0d5c8;
}
.table-primary.table-bordered tbody td,
.table-primary,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  border-color: #fbf3f0;
}
.bwizard-steps li.active:after {
  border-left-color: #ba5d32;
}
.widget-activity ul.activities li.highlight {
  background-color: rgba(186, 93, 50, 0.1);
  border-color: rgba(186, 93, 50, 0.2);
}
.widget-activity ul.activities li.highlight .activity-icon {
  border-color: rgba(186, 93, 50, 0.2);
}
.widget .widget-body.list.list-2 ul li.active {
  border-color: #db9777;
}
.widget .widget-body.list.list-2 ul li a {
  color: #db9777;
}
.widget .widget-body.list.list-2 ul li a i:before {
  background: #fbf3f0;
  color: #d0784f;
  border-color: #db9777;
}
